#root{
    display:grid;
    grid-template-columns: repeat(3, 100px);
    width: 300px;
    margin: auto;
}

.case{
    display: flex    ;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px grey;
    width: 100px;
    height: 100px;
    
}
html{
    text-align: center;
}
.recommencer{
    margin-top: 30px;
}